homepage.xsd



<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="htmlForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="branch" type="xs:string"/>
        <xs:element name="offer_type" type="xs:string"/>
        <xs:element name="package" type="xs:string"/>
        <xs:element name="company" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
